<div *ngIf="star">
    <h2>{{star.name | uppercase}} Details</h2>
    <div id="sweater"><span>Sweater Number: </span>{{star.id}}</div>
    <div>
        <input id="star-name" [(ngModel)]="star.name" placeholder="name">
    </div>
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Go Back</button>
</div>