/* Star Detail Component's private CSS styles */

label {
    color: black;
    font-weight: bold;
}

input {
    font-size: 1em;
    padding: .5rem;
}

#sweater {
    color: black;
    font-weight: bold;
    text-align: center;
}

button {
    margin: 5px;
    background-color: gold;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 4px;
}

button:hover {
    background-color: white;
    border: 3px solid gold;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}