/* HeroesComponent's private CSS styles */

#button {
    background-color: #FFB612;
    min-width: 250px;
    margin: 5px;
    border: 1px solid black;
}

#nameplate {
    display: inline-flex;
}

#name {
    display: inline-flex;
}

#badge {
    display: inline-flex;
    color: white;
    padding: 5px;
    background-color: black;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

// .stars li:hover {
//     color: #2c3a41;
//     background-color: #e6e6e6;
//     left: .1em;
// }
// .stars li.selected {
//     background-color: black;
//     color: white;
// }
// .stars li.selected:hover {
//     background-color: #505050;
//     color: white;
// }
// .stars li.selected:active {
//     background-color: black;
//     color: white;
// }