<div id="my_stars">
    <h2>My Stars</h2>
    <div>
        <label for="new-star">Star name: </label>
        <input id="new-star" #starName />

        <!-- (click) passes input value to add() and then clears the input -->
        <button class="add-button" (click)="add(starName.value); starName.value=''">
        Add Star
    </button>
    </div>
    <ul class="stars">
        <li *ngFor="let star of stars">
            <div id="button">
                <div id="nameplate">
                    <a routerLink="/detail/{{star.id}}">
                        <span id="badge"> {{star.id}} </span>
                        <span id="name"> {{star.name}} </span>
                    </a>
                </div>
                <button id="delete" title="delete star" (click)="delete(star)">x</button>
            </div>
        </li>
    </ul>
</div>