#messages {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: black;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #ffffff50;
    padding: 5px;
    border-radius: 4px;
    border: 3px solid gold;
}

button {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    display: inline-flex;
    background-color: gold;
    color: black;
    border-radius: 4px;
}

button:hover {
    background-color: white;
    border: 3px solid gold;
    padding: 7px;
}