<div id="search-component">
    <label for="search-box">Star Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <ul class="search-result">
        <li *ngFor="let star of stars$ | async">
            <a routerLink="/detail/{{star.id}}">
          {{star.name}}
        </a>
        </li>
    </ul>
</div>