/* HeroSearch private styles */

label {
    text-align: center;
    color: black;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 0;
    display: inline-flex;
    background-color: #ffffff50;
    padding: 5px;
    border-radius: 4px;
    border: 3px solid gold;
}

input {
    padding: .5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    display: block;
}

input:focus {
    outline: #336699 auto 1px;
}

li {
    list-style-type: none;
}

.search-result li a {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.search-result li a:hover {
    background-color: #435A60;
    color: white;
}

ul.search-result {
    margin-top: 0;
    padding-left: 0;
}