// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TourOfPenguins-primary: mat.define-palette(mat.$indigo-palette);
$TourOfPenguins-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$TourOfPenguins-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TourOfPenguins-theme: mat.define-light-theme(( color: ( primary: $TourOfPenguins-primary, accent: $TourOfPenguins-accent, warn: $TourOfPenguins-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TourOfPenguins-theme);

/* You can add global styles to this file, and also import other style files */

html {
    background-image: url(./assets/pens.jpeg);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
    justify-content: center;
    color: black;
    display: inline-flex;
    background-color: #ffffff50;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #FFB612;
}

.links {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    display: inline-flex;
    background-color: #FFB612;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
}

.links:hover {
    background-color: white;
    border: 3px solid #FFB612;
    padding: 8px;
}